body{
    background: #BDBDBD;
}
        .rounded-avatar {
            width: 80%;
            height: auto;
            padding: 40px;
        }
        .color-title{
            color: #a8a8a8;
        }
        .txt01{
            padding-left: 50px;
        }

.project-name {
    color: rgb(30, 111, 197);
}

.project-desc {
    font-size: 14px;
}
