<div class="container">
  <div class="row justify-content-center">
    <h1>Contact</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit alias
      dolores veritatis nisi iste quod illo eius ab laboriosam repellendus
      officiis at, vitae, dolor omnis, optio tenetur eveniet quibusdam. Quia.
    </p>
    <div class="contact-box">
      <form>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="message" class="form-label">Your Email</label>
          </div>
          <div class="col-auto">
            <input
              type="text"
              id="message"
              class="contact-label-input"
              placeholder="Your Email"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">Your message</label>
          <textarea class="form-control" id="message" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
