<div class="container contact-page">
  <div class="row justify-content-center">
    <h1>Contact</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit alias
      dolores veritatis nisi iste quod illo eius ab laboriosam repellendus
      officiis at, vitae, dolor omnis, optio tenetur eveniet quibusdam. Quia.
    </p>
    <div class="contact-box">
      <form>
        <!-- se supone que g-1, g-0 o gx-0 deberia quitar el gap entre filas y columnas pero no lo hace -->
        <div class="row mb-3 align-items-center">
          <label
            for="exampleInputEmail1"
            class="form-label col-sm-3 col-form-label"
            >Your email</label
          >
          <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Your Email" />
          </div>
        </div>
        <div class="row mb-3">
          <label for="message" class="form-label col-sm-3 col-form-label"
            >Your message</label
          >
          <div class="col-sm-9">
            <textarea
              class="form-control"
              id="message"
              rows="3"
              placeholder="Please enter your message here..."
            ></textarea>
          </div>
        </div>

        <div class="text-end">
          <a
            class="btn btn-primary"
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0&autoplay=1"
          >
            Submit
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
