<div class="container">
  <div class="row justify-content-center">
    <h1>Contact</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit alias
      dolores veritatis nisi iste quod illo eius ab laboriosam repellendus
      officiis at, vitae, dolor omnis, optio tenetur eveniet quibusdam. Quia.
    </p>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Your email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <input type="text" class="form-control" id="message" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
