<div class="main-container bg-white">
        <div class="row align-items-center">
            <div class="col-8 txt01">
                <h1 class="mb-3">This First Heading <span class="color-title">Will Catch Your Eye</span></h1>
                <p class="text-muted">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
            <div class="imagen1 col-4">
                <img src="./assets/img/1.jpg" class="rounded-circle img-fluid rounded-avatar" alt="Avatar">
            </div>
        </div>
    </div>