<!-- your html code here -->
<div class="container-fluid m-5">

<h2 class="mb-3">Portfolio</h2>

<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia repellat ratione vel est, cumque, libero
    deleniti labore, illo tenetur officiis ab eius deserunt eum odio dolores similique corrupti minima?</h4>
<br>

    <div class="row d-flex justify-content-center">
        <div class="col-4">
            <img class="w-10g0 h-50 mb-3" src="./assets/img/big-project-image.png" alt="">
            <h4 class="project-name">Project name</h4>
            <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure commodi debitis obcaecati quasi
                necessitatibus, magni nihil eius corporis fuga eveniet, assumenda corrupti! Facilis eum odit doloremque
                animi, excepturi perferendis?</p>
        </div>
        <div class="col-4">
            <img class="w-100 h-50 mb-3" src="./assets/img/big-project-image.png" alt="">
            <h4 class="project-name">Project name</h4>
            <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure commodi debitis obcaecati quasi
                necessitatibus, magni nihil eius corporis fuga eveniet, assumenda corrupti! Facilis eum odit doloremque
                animi, excepturi perferendis?</p>
        </div>
        <div class="col-4">
            <img class="w-100 h-50 mb-3" src="./assets/img/big-project-image.png" alt="">
            <h4 class="project-name">Project name</h4>
            <p class="project-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure commodi debitis obcaecati quasi
                necessitatibus, magni nihil eius corporis fuga eveniet, assumenda corrupti! Facilis eum odit doloremque
                animi, excepturi perferendis?</p>
        </div>
    </div>
</div>