<div class="main-container bg-white">
    <div class="row align-items-center txt01">
        <div class="imagen1 col-4">
            <img src="./assets/img/2.jpg" class="rounded-circle img-fluid rounded-avatar" alt="Avatar">
        </div>
        <div class="col-8">
            <h1 class="mb-3">The Second Heading <span class="color-title">Is Pretty Cool Too.</span></h1>
            <p class="text-muted">

                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>

    </div>
</div>